<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Ciudad</label>
      <select class="form-control" id="ciudad" [disabled]="tarifa.id">
        <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Servicio</label>
      <select class="form-control" id="servicio" [disabled]="tarifa.id">
        <option *ngFor="let servicio of servicios" [value]="servicio.codigo">{{servicio.descripcion}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Año</label>
      <input type="number" id="anio" class="form-control" value="0" [disabled]="tarifa.id">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Servicio</label>
      <select class="form-control" id="habilitado">
        <option value="1">Si</option>
        <option value="0">No</option>
      </select>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead class="bg thead">
        <tr class="text-center">
          <td>Horas</td>
          <td>Valor</td>
          <td>Valor Especial</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datosTarifa">
          <td>{{item.horas}}</td>
          <td>
            <input type="number" [(ngModel)]="item.valor" class="form-control">
          </td>
          <td>
            <input type="number" [(ngModel)]="item.valor_especial" class="form-control">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 mt-2">
    <button class="btn  btn-block" (click)="saveData()">Guardar información</button>
  </div>
</div>