<div class="container">
  <i class="icon-list icons  fa-x2"></i>
  <h2 class="titulo">Servicios</h2>
</div>
<hr />
<button class="btn btn-block mb-2" (click)="openModal(modal)">Nuevo Servicio</button>
<div class="card p-4">
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="services.length === 0">
      <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
    </div>
    <div class="col-md-12" *ngIf="services.length > 0">
      <table class="table">
        <thead class="thead">
          <tr class="text-center">
            <th scope="col">Codigo</th>
            <th scope="col">Detalle</th>
            <th scope="col">Icono</th>
            <th scope="col">Habilitado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let service of services">
            <th scope="row">
              <button class="btn" (click)="openModalUpdate(modal,service)">{{service.codigo}}</button>
            </th>
            <td>{{service.descripcion}}</td>
            <td>
              <img style="height: 50px; color:black; background: black; border-radius: 50px;" [src]="service.icon"
                [alt]="service.descripcion" />
            </td>
            <td class="text-center">
              <img src="../../../../../assets/img/icons/valid.svg" class="pointer" *ngIf="service.habilitado === '1'"
                class="icon" alt="Si" />
              <img src="../../../../../assets/img/icons/error.svg" class="pointer" *ngIf="service.habilitado === '0'"
                class="icon" alt="No" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--MODAL-->
<ng-template #modal>
  <app-modal [modalRef]="modalRef" title="Nuevo Servicio">
    <app-nuevo-servicio-form [servicio]="servicioSelected" (newService)="newService($event)"></app-nuevo-servicio-form>
  </app-modal>
</ng-template>