<div class="container">
    <i class="icon-present fa-x2"></i>
    <h2 class="titulo"> Ciudades</h2>
</div>
<hr />
<button class="btn btn-block mb-2" (click)="openModal(modal)">Nuevo Paquete</button>
<div class="card p-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <td>Id</td>
                        <td>Nombre</td>
                        <td>Fecha Inicio</td>
                        <td>Fecha Fin</td>
                        <td>Horas</td>
                        <td>Habilitado</td>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let p of paquetes | paginate: { itemsPerPage: 10, currentPage: current, totalItems: total }">
                        <td>
                            <button class="btn btn-primary" (click)="openModal(modal,p)">{{p.id}}</button>
                        </td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.fecha_inicio}}</td>
                        <td>{{p.fecha_fin}}</td>
                        <td>{{p.horas}}</td>
                        <td class="text-center">
                            <img src="../../../../../assets/img/icons/valid.svg" *ngIf="p.habilitado === '1'"
                                class="icon" alt="Si" />
                            <img src="../../../../../assets/img/icons/error.svg" *ngIf="p.habilitado === '0'"
                                class="icon" alt="No" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination-controls class="pagina" (pageChange)="current = $event" responsive="true" previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>
<ng-template #modal>
    <app-modal [modalRef]="modalRef" title="Nuevo Paquete">
        <app-paquetes-form [paquete]="paqueteSelected" (savePaquete)="savePaquete($event)"></app-paquetes-form>
    </app-modal>
</ng-template>