<div class="container">
  <i class="icon-people icons fa-x2"></i>
  <h2 class="titulo">Empleadas</h2>
</div>
<hr />
<button class="btn btn-block mb-2" (click)="openModal(modal)">Nueva Empleada</button>
<div class="card p-4">
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="empleadas.length === 0">
      <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
    </div>
    <div class="col-md-12" *ngIf="empleadas.length > 0">
      <input type="text" name="" class="form-control mt-1 mb-2" placeholder="Buscar..." (keyup)="filtrar($event)">
      <table class="table">
        <thead class="thead">
          <tr class="text-center">
            <th scope="col">Codigo</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Habilitado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center"
            *ngFor="let empleada of empleadasFilter| paginate: { itemsPerPage: 10, currentPage: current, totalItems: total }">
            <th scope="row">
              <button class="btn" (click)="openModalUpdate(modal,empleada)">{{empleada.codigo}}</button>
            </th>
            <td>{{empleada.cedula}}</td>
            <td>{{empleada.nombre}}</td>
            <td>{{empleada.nombre_ciudad}}</td>
            <td class="text-center">
              <img src="../../../../../assets/img/icons/valid.svg" *ngIf="empleada.habilitado === '1'" class="icon"
                alt="Si" />
              <img src="../../../../../assets/img/icons/error.svg" *ngIf="empleada.habilitado === '0'" class="icon"
                alt="No" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="pagination">
  <pagination-controls class="pagina" (pageChange)="current = $event" responsive="true" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
  <!--MODAL-->
  <ng-template #modal>
    <app-modal [modalRef]="modalRef" title="Nueva Empleada">
      <app-nueva-empleada-form [empleada]="empleadaSelected" (newEmpleada)="newEmpleada($event)">
      </app-nueva-empleada-form>
    </app-modal>
  </ng-template>