<form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Cedula</label>
                <input type="number" name="cedula" [readOnly]="this.cliente.id" autocomplete="off"
                    [(ngModel)]="cliente.cedula" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nombres</label>
                <input type="text" name="nombres" autocomplete="off" [(ngModel)]="cliente.nombres" class="form-control"
                    required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Apellidos</label>
                <input type="text" name="apellidos" autocomplete="off" [(ngModel)]="cliente.apellidos"
                    class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Dirección</label>
                <input type="text" name="direccion" autocomplete="off" [(ngModel)]="cliente.direccion"
                    class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ciudad</label>
                <select class="form-control" [(ngModel)]="cliente.ciudad" name="ciudad" required>
                    <option value="">SELECCIONE</option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre | uppercase}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Telefono</label>
                <input type="number" (input)="onlyNumbers($event)" name="telefono" autocomplete="off"
                    [(ngModel)]="cliente.telefono" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="correo" autocomplete="off" [(ngModel)]="cliente.correo" class="form-control"
                    required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Habilitado</label>
                <select class="form-control" [(ngModel)]="cliente.habilitado" name="habilitado" required>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-block" [disabled]="form.invalid">Guardar información</button>
        </div>
    </div>
</form>