<div class="container">
    <i class="icon-people icons fa-x2"></i>
    <h2 class="titulo">Proveedores</h2>
</div>
<hr />
<button class="btn  btn-block mb-2" (click)="openModal(modal,{})">Nuevo Proveedor</button>
<div class="card p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Grupo</label>
                <select class="form-control" (change)="getEspecialidades($event)">
                    <option value="">Seleccione</option>
                    <option *ngFor="let grupo of grupos " [value]="
                        grupo.codigo">{{grupo.detalle}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Especialidad</label>
                <select class="form-control" [(ngModel)]="especialidad">
                    <option value="">Seleccione</option>
                    <option *ngFor="let especialidad of especialidades" [value]="especialidad.codigo">
                        {{especialidad.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button class="btn btn-block mt-4" (click)="getProveedores()">Consultar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-table-proveedores (openModal)="openModal(modal,$event)" [proveedores]="proveedores">
        </app-table-proveedores>
    </div>
</div>
<!--MODAL-->
<ng-template #modal>
    <app-modal [modalRef]="modalRef" title="Gestionar Proveedor">
        <app-nuevo-proveedor [proveedor]="proveedorSelected" (newProveedor)="newProveedor($event)">
        </app-nuevo-proveedor>
    </app-modal>
</ng-template>