<div class="row">
    <div class="col-md-6 mb-5">
        <app-pie-chart [tipo]="4" titulo="Estado de servicios" [colors]="colors"></app-pie-chart>
    </div>
    <div class="col-md-6 mb-5">
        <app-bar-chart [tipo]="1" titulo="Servicios atendidos por mes" [colors]="colors"></app-bar-chart>
    </div>
    <div class="col-md-6 mb-5">
        <app-bar-chart [tipo]="2" titulo="Proveedores registrados por mes" [colors]="colors"></app-bar-chart>
    </div>
    <div class="col-md-6 mb-5">
        <app-bar-chart [tipo]="3" titulo="Usuarios registrados por mes" [colors]="colors"></app-bar-chart>
    </div>
    <div class="col-md-6 mb-5">
        <app-bar-chart [tipo]="5" titulo="Usuarios por ciudad" [colors]="colors"></app-bar-chart>
    </div>
    <div class="col-md-6 mb-5">
        <app-bar-chart [tipo]="6" titulo="Empleadas por ciudad" [colors]="colors"></app-bar-chart>
    </div>
</div>