fieldset {
  border: 1px solid #e4e7ea;
  padding: 10px 15px;
  border-radius: 5px;
}

legend {
  font-size: 14px;
}

.label-ciudad {
  margin-left: 5px;
}

.btn {
  background: #001881;
  color: #fff
}
