<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nombre del paquete</label>
        <input type="text" name="nombre" [(ngModel)]="paquete.nombre" class="form-control" required
          autocomplete="off" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha Inicio</label>
        <input type="date" name="fecha_inicio" [(ngModel)]="paquete.fecha_inicio" class="form-control" required />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha Fin</label>
        <input type="date" name="fecha_fin" [(ngModel)]="paquete.fecha_fin" class="form-control" required />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Dias</label>
        <input type="number" name="dias" [(ngModel)]="paquete.dias" value="0" class="form-control" required min="1" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Horas</label>
        <input type="number" name="horas" [(ngModel)]="paquete.horas" value="0" class="form-control" required min="2" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Valor Normal</label>
        <input type="number" name="valor_normal" [(ngModel)]="paquete.valor_normal" value="0" class="form-control"
          min="0" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Valor Descuento</label>
        <input type="number" name="valor_descuento" [(ngModel)]="paquete.valor_descuento" value="0" class="form-control"
          min="0" />
      </div>
    </div>
    <div class="col-md-12">
      <fieldset>
        <legend>Ciudades</legend>
        <div class="row">
          <div *ngFor="let ciudad of ciudades" class="col-md-4">
            <input type="checkbox" [checked]="ciudad.checked" [value]="ciudad.codigo" />
            <label class="label-ciudad">{{ ciudad.nombre }}</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6 mt-2">
      <div class="form-group">
        <label>Habilitado</label>
        <select name="habilitado" [(ngModel)]="paquete.habilitado" class="form-control" required>
          <option value="1" selected>Si</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 mt-3 d-flex justify-content-center">
      <button class="btn" [disabled]="form.invalid">Guardar paquete</button>
    </div>
  </div>
</form>