<div class="container">
  <i class="icon-organization icons fa-x2"></i>
  <h2 class="titulo">Clientes</h2>
</div>
<hr />
<button class="btn btn btn-block mb-2" (click)="openModal(modal)">Nuevo Cliente</button>
<div class="card p-4">
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="clientes.length === 0">
      <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
    </div>
    <div class="col-md-12" *ngIf="clientes.length > 0">
      <input type="text" name="" class="form-control mt-1 mb-2" placeholder="Buscar..." (keyup)="filtrar($event)">
      <table class="table">
        <thead class="thead">
          <tr class="text-center">
            <th>Id</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Asociados</th>
            <th>Habilitado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center"
            *ngFor="let cliente of clientesFilter | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
            <th scope="row" (click)="openModal(modal,cliente)">
              <button class="btn">{{cliente.id}}</button>
            </th>
            <td>{{cliente.cedula}}</td>
            <td>{{cliente.nombre | uppercase}}</td>
            <td>{{cliente.nombre_ciudad | uppercase}}</td>
            <td>
              <button class="btn" (click)="openModalAsociados(modalAsociados, cliente.id)">
                <i class="icon-eye"></i>
              </button>
            </td>
            <td class="text-center">
              <img src="../../../../../assets/img/icons/valid.svg" *ngIf="cliente.habilitado === '1'" class="icon"
                alt="Si" />
              <img src="../../../../../assets/img/icons/error.svg" *ngIf="cliente.habilitado === '0'" class="icon"
                alt="No" />
            </td>
          </tr>

        </tbody>
      </table>
      <div class="pagination">
        <pagination-controls class="pagina" (pageChange)="p = $event" responsive="true" previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <app-modal [modalRef]="modalRef" title="Nuevo Cliente">
    <app-nuevo-cliente-form [cliente]="clienteSelected" (newCliente)="newCliente($event)"></app-nuevo-cliente-form>
  </app-modal>
</ng-template>
<ng-template #modalAsociados>
  <app-modal [modalRef]="modalRef" title="Asociados">
    <app-asociados-cliente [idCliente]="idCliente"></app-asociados-cliente>
  </app-modal>
</ng-template>