.app-body {
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: url("/src/assets/img/png/aux-bg-ad-01.png");
}

.btn {
  background: #001881;
  color: white;
}

.container {
  width: 50%;
}

.iconoInput {
  color: black;
  font-size: 15px;
  position: absolute;
  left: 25px;
  padding-top: 10px;
}

.inputPadding {
  padding-left: 40px;
}

.rounded-lg {
  border-radius: 0.8rem !important;
}

h1 {
  font-weight: 700 !important;
  font-size: 24px !important;
}
