<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group ">
            <div class="card p-3 p-lg-4 rounded-lg">
              <div class="card-body">
                <form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
                  <h1 class="mb-4 text-center">Zona de administación</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario" autocomplete="off" name="usuario"
                      ngModel required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Clave" autocomplete="off" name="clave"
                      ngModel required>
                  </div>
                  <div class="row">
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button type="submit" [disabled]="form.invalid" class="btn px-4">Iniciar
                        Sesión</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>