<div class="row mb-5 d-flex justify-content-center">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <img *ngIf="!imageTemp" src="../../../../../../../assets/img/avatars/sin_perfil.jpg" class="img-circle mb-2"
            width="150" />
        <img *ngIf="imageTemp" [src]="imageTemp" class="img-circle mb-2" width="150" />
        <input type="file" class="form-control icono" (change)="uploadImage($event)">
    </div>
</div>
<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Cedula</label>
                <input type="text" name="cedula" [ngModel]="empleada['cedula']" class="form-control" required>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" [ngModel]="empleada['nombre']" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Dirección</label>
                <input type="text" name="direccion" [ngModel]="empleada['direccion']" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ciudad</label>
                <select name="ciudad" class="form-control" [ngModel]="empleada['ciudad']" required>
                    <option value="">Seleccione</option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre | uppercase}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Celular</label>
                <input type="number" name="celular" (input)="onlyNumbers($event)" class="form-control"
                    [ngModel]="empleada['celular']" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" [ngModel]="empleada['email']">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Habilitado</label>
                <select name="habilitado" class="form-control" [ngModel]="empleada['habilitado']">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-block" [disabled]="form.invalid || loading"><i class="fa fa-spinner fa-spin"
            *ngIf="loading"></i> Guardar</button>
</form>