img {
  object-fit: cover;
}

.icono {

  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  padding-left: 0px;

}

.btn {
  background: #001881;
  color: #fff
}
