<app-header style="display: flex;
flex-wrap: nowrap; background: #001881; " [navbarBrandRouterLink]="['/admin']" [fixed]="true" [navbarBrandFull]="{
    src: 'assets/img/brand/logo_aux_lg.svg',
    width: 89,
    height: 25,
    alt: 'CoreUI Logo'
  }" [sidebarToggler]="'lg'" [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto ">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span style="color: #fff;">{{user.nombre}}</span><img src="assets/img/brand/user_logo.svg" class="img-avatar"
          alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
        <a class="dropdown-item" (click)="logout($event)" href="#"><i class="fa fa-lock"></i> Cerrar Sesión</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)" style="background: #001881;">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar]></app-sidebar-nav>

  </app-sidebar>

</div>
<main class="main">
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</main>
<!-- <app-footer class="p-3">
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->