.titulo {
  font-weight: 700;
  padding-left: 10px;
}

.thead {
  background: black;
  color: white;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

i {
  font-size: 20px;
}

.btn {
  background: #001881;
  color: #fff
}

.pagina /deep/ .ngx-pagination .current {
  background: #001881;
}
