<div class="container">
  <i class="icon-flag  fa-x2"></i>
  <h2 class="titulo"> Ciudades</h2>
</div>
<hr />
<div class="card p-4">
  <button class="btn btn-block mb-2" (click)="openModal(modal)">Nueva Ciudad</button>
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="ciudades.length === 0">
      <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
    </div>
    <div class="col-md-12" *ngIf="ciudades.length > 0">
      <table class="table">
        <thead class="thead">
          <tr class="text-center">
            <th scope="col" color="primary">Id</th>
            <th scope="col">Codigo Dane</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Habilitado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center"
            *ngFor="let ciudad of ciudades | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <th scope="row">
              <button class="btn" (click)="openModalUpdate(modal,ciudad)">{{ciudad.id}}</button>
            </th>
            <td>{{ciudad.codigo}}</td>
            <td>{{ciudad.nombre}}</td>
            <td class="text-center">
              <img src="../../../../../assets/img/icons/valid.svg" *ngIf="ciudad.habilitado === '1'" class="icon"
                alt="Si" />
              <img src="../../../../../assets/img/icons/error.svg" *ngIf="ciudad.habilitado === '0'" class="icon"
                alt="No" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="pagination">
  <pagination-controls class="pagina" (pageChange)="p = $event" responsive="true" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</div>
<!--MODAL-->
<ng-template #modal>
  <app-modal [modalRef]="modalRef" title="Nueva Ciudad">
    <app-nueva-ciudad-form [ciudad]="ciudadSelected" (newCiudad)="newCiudad($event)"></app-nueva-ciudad-form>
  </app-modal>
</ng-template>