<div class="container">
  <i class="icon-info"></i>
  <h2 class="titulo">Tarifas</h2>
</div>
<hr />
<button class="btn btn-block mb-2" (click)="openModal(modal)">Nueva Tarifa</button>
<div class="card p-4">
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="tarifas.length === 0">
      <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
    </div>
    <div class="col-md-12" *ngIf="tarifas.length > 0">
      <table class="table">
        <thead class="thead">
          <tr class="text-center">
            <th scope="col">Editar</th>
            <th scope="col">Servicio</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Año</th>
            <th scope="col">Habilitado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let tarifa of tarifas">
            <td>
              <button class="btn" (click)="openModal(modal,tarifa)">
                <i class="icon-pencil"></i>
              </button>
            </td>
            <td>{{tarifa.servicio}}</td>
            <td>{{tarifa.ciudad}}</td>
            <td>{{tarifa.anio}}</td>
            <td>
              <img src="../../../../../assets/img/icons/valid.svg" class="pointer" *ngIf="tarifa.habilitado === '1'"
                class="icon" alt="Si" />
              <img src="../../../../../assets/img/icons/error.svg" class="pointer" *ngIf="tarifa.habilitado === '0'"
                class="icon" alt="No" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #modal>
  <app-modal [modalRef]="modalRef" title="Gestión Tarifa">
    <app-modal-tarifa [tarifa]="tarifaSelected" (saveTarifa)="saveTarifa($event)"></app-modal-tarifa>
  </app-modal>
</ng-template>