<div class="container">

    <h2 class="titulo" style="font-weight: 700; padding-left: 0%;">Dashboard</h2>
</div>
<tabset>
    <tab heading="Graficas">
        <app-graficas></app-graficas>
    </tab>
    <tab heading="Reportes">
        <app-reportes></app-reportes>
    </tab>
</tabset>