<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Cliente</label>
                <ng-select [items]="clientes" bindLabel="nombre" bindValue="id"
                    (change)="consultarClientesAsociados($event)" required>
                </ng-select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Asociados</label>
                <select class="form-control" required (change)="cambiarInfo($event)" name="id_usuario"
                    [ngModel]="usuarioSelected">
                    <option value="">Seleccione</option>
                    <option *ngFor="let asociado of asociados" [value]="asociado.id">{{asociado.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Dirección</label>
                <input required type="text" name="direccion" [(ngModel)]="info_asociado.direccion" class="form-control"
                    readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ciudad</label>
                <select required class="form-control" readonly name="ciudad" [(ngModel)]="info_asociado.ciudad">
                    <option value="">Seleccione</option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Servicio</label>
                <select required class="form-control" name="servicio" ngModel>
                    <option value="">Seleccione</option>
                    <option *ngFor="let servicio of servicios" [value]="servicio.codigo">{{servicio.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Empleada</label>
                <ng-select [items]="empleadas" bindLabel="nombre" bindValue="codigo" ngModel required
                    name="id_empleada">
                </ng-select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha de Inicio</label>
                <input type="date" required class="form-control" name="fecha_inicio" ngModel>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label># Dias</label>
                <input type="number" (input)="onlyNumbers($event)" required name="dias" ngModel class="form-control"
                    (change)="consultarValor(form)">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Hora de Inicio</label>
                <input type="time" min="7:00" max="18:00" required class="form-control" name="hora_inicio" ngModel>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label># Horas</label>
                <input type="number" (input)="onlyNumbers($event)" required class="form-control" name="horas" ngModel
                    (change)="consultarValor(form)">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Valor Servicio</label>
                <input type="number" required class="form-control" name="total" [(ngModel)]="valor_servicio" value="0"
                    readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Forma Pago</label>
                <select name="formapago" ngModel class="form-control" required>
                    <option value="">Seleccione</option>
                    <option *ngFor="let forma of formaspago" [value]="forma.codigo">
                        {{forma.detalle}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-block" [disabled]="form.invalid">Agendar servicio</button>
        </div>
    </div>
</form>