<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Codigo</label>
                <input type="text" name="codigo" [readOnly]="servicio['codigo']" autocomplete="off" ngModel
                    [ngModel]="servicio['codigo']" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Descripción</label>
                <input type="text" name="descripcion" autocomplete="off" ngModel class="form-control"
                    [ngModel]="servicio['descripcion']" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Habilitado</label>
                <select class="form-control" [(ngModel)]="habilitado" name="habilitado" required>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group ">
                <label>Icono</label>
                <input type="file" class="form-control icono" (change)="uploadImage($event)">
            </div>
            <div class="my-3" *ngIf="loadingImage">
                <img src="../../../../../../assets/img/icons/loading.gif" class="img-status" /><span
                    class="ml-2"><b><i>Cargando...</i></b></span>
            </div>
            <div class="my-3" *ngIf="urlImage !== ''">
                <img src="../../../../../../../assets/img/icons/valid.svg" class="img-status" /><span
                    class="ml-2"><b><i>Archivo cargado exitosamente</i></b></span>
            </div>
        </div>
    </div>
    <button class="btn btn-block" [disabled]="form.invalid" type="submit"><i class="fa fa-spinner fa-spin"
            *ngIf="loading"></i> Guardar</button>
</form>