<div class="row bg-white py-5 px-3">
  <div class="col-md-12">
    <p-fullCalendar [events]="events" [options]="options" style="font-weight: 700;" id="cal">
    </p-fullCalendar>
  </div>
</div>
<!--MODAL-->
<ng-template #modal>
  <app-modal [modalRef]="modalRef" title="Agendar Servicio">
    <app-nueva-agenda-form (newServicio)="newServicio($event)"></app-nueva-agenda-form>
  </app-modal>
</ng-template>
<ng-template #modalEditar>
  <app-modal [modalRef]="modalRef" title="Editar Servicio">
    <app-editar-evento-form [id]="idSelected" (updateServicio)="updateServicio($event)"></app-editar-evento-form>
  </app-modal>
</ng-template>