.fc-content {
  cursor: pointer;
}

h2 {
  font-weight: 700;
}

.fc-day,
.fc-widget-content,
.fc-today {
  background: #d3c476;
}

#id .fc-day .fc-widget-content .fc-sat .fc-today {
  background: #d3c476;
}
