<div class="row container">
    <div class="col-md-6">
        <div class="form-group">
            <label>Seleccione el reporte</label>
            <select class="form-control" #repor>
                <option value="0">Seleccione</option>
                <option *ngFor="let reporte of reportes" [value]="reporte.tipo">{{reporte.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 mt-1">
        <div class="form-group">
            <button class="btn btn-primary mr-2 mt-4" (click)="consultarData(repor)">Consultar</button>
            <button class="btn btn-success mt-4" (click)="exportar(repor)">Exportar</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th *ngFor="let columna of columnas">{{columna | uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let re of reporte">
                        <td class="td-fit" *ngFor="let col of columnas">{{re[col]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>