<div class="card p-4">
  <table class="table">
    <thead class="thead">
      <tr class="text-center">
        <th>Id</th>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Habilitado</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let proveedor of proveedores | paginate: { itemsPerPage: 5, currentPage: p}">
        <td>
          <button class="btn btn-primary" (click)="abrirModal(proveedor)">{{proveedor.id}}</button>
        </td>
        <td>{{proveedor.cedula}}</td>
        <td>{{proveedor.nombres}} {{proveedor.apellidos}}</td>
        <td>{{proveedor.nombre_ciudad}}</td>
        <td>{{proveedor.celular}}</td>
        <td>{{proveedor.email}}</td>
        <td>
          <img src="../../../../../assets/img/icons/valid.svg" class="pointer" *ngIf="proveedor.habilitado === '1'"
            class="icon" alt="Si" />
          <img src="../../../../../assets/img/icons/error.svg" class="pointer" *ngIf="proveedor.habilitado === '0'"
            class="icon" alt="No" />
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="pagina" (pageChange)="p = $event" responsive="true" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</div>