<div class="row">
  <div class="col-md-12">
    <tabset #staticTabs>
      <tab heading="Asociados">
        <table class="table">
          <thead class="thead">
            <tr class="text-center">
              <th>Id</th>
              <th>Nombre</th>
              <th>Ciudad</th>
              <th>Habilitado</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asociado of asociados" class="text-center">
              <td>{{asociado.id}}</td>
              <td>{{asociado.nombre}}</td>
              <td>{{asociado.nombreCiudad | uppercase}}</td>
              <td>
                <img src="../../../../../assets/img/icons/valid.svg" *ngIf="asociado.habilitado === '1'" class="icon"
                  alt="Si" />
                <img src="../../../../../assets/img/icons/error.svg" *ngIf="asociado.habilitado === '0'" class="icon"
                  alt="No" />
              </td>
              <td>
                <button class="btn btn-primary" (click)="editarUsuario(asociado)">
                  <i class="icon-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Gestión Asociados">
        <form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" required name="nombre" [ngModel]="selectedUser.nombre" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Dirección</label>
                <input type="text" required name="direccion" [ngModel]="selectedUser.direccion" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ciudad</label>
                <select name="ciudad" required class="form-control" [ngModel]="selectedUser.ciudad">
                  <option value="">Seleccione</option>
                  <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Telefono</label>
                <input type="text" required [ngModel]="selectedUser.telefono" name="telefono" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Habilitado</label>
                <select name="habilitado" required [ngModel]="selectedUser.habilitado" class="form-control">
                  <option>Seleccione</option>
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 text-center mt-3">
              <button type="submit" class="btn mr-2 guardar" [disabled]="form.invalid">Guardar</button>
              <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>