<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Codigo Dane</label>
                <input type="text" name="codigo" [readOnly]="this.ciudad.id" autocomplete="off" required
                    [(ngModel)]="ciudad.codigo" class="form-control">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre Ciudad</label>
                <input type="text" name="nombre" autocomplete="off" required [(ngModel)]="ciudad.nombre"
                    class="form-control">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Habilitado</label>
                <select name="habilitado" required [(ngModel)]="ciudad.habilitado" class="form-control">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" [disabled]="form.invalid">Guardar</button>
        </div>
    </div>
</form>