<form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" [ngModel]="servicio.nombre | uppercase" disabled />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha de Creación</label>
        <input type="text" class="form-control" disabled name="fecha_ing" [ngModel]="servicio.fecha_ing" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Direccion</label>
        <input type="text" class="form-control" disabled name="direccion" [ngModel]="servicio.direccion | uppercase" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Ciudad</label>
        <select disabled name="ciudad" class="form-control" [ngModel]="servicio.ciudad">
          <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">
            {{ ciudad.nombre }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Servicio</label>
        <select disabled name="servicio" class="form-control" [ngModel]="servicio.servicio">
          <option *ngFor="let servicio of servicios" [value]="servicio.codigo">
            {{ servicio.descripcion }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label># Horas</label>
        <input type="number" name="horas" [ngModel]="servicio.horas" class="form-control" disabled />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Valor</label>
        <input type="number" name="valor" [ngModel]="servicio.valor" class="form-control" disabled />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Empleada</label>
        <ng-select [items]="empleadas" bindLabel="nombre" bindValue="codigo" [ngModel]="servicio.id_empleada" required
          name="empleada">
        </ng-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha</label>
        <input type="date" required [ngModel]="servicio.fecha_servicio" class="form-control" name="fecha" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora</label>
        <input type="time" required [ngModel]="servicio.hora_inicio" class="form-control" name="hora_inicio" />
      </div>
    </div>
    <hr />
    <div class="col-md-12 text-center mt-3">
      <button type="submit" class="btn guardar mr-2" [disabled]="form.invalid">
        Actualizar servicio
      </button>
      <button type="button" (click)="eliminarServicio()" class="btn btn-danger">Anular servicio</button>
    </div>
  </div>
</form>