// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";



.pointer {
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
}
