<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tipo Documento</label>
        <select class="form-control" name="tipodoc" required [(ngModel)]="proveedor.tipodoc">
          <option value="">Seleccione</option>
          <option *ngFor="let tipo of tipodoc" [value]="tipo.Codigo">{{
            tipo.Detalle
            }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Nro Documento</label>
        <input type="text" class="form-control" name="cedula" required [(ngModel)]="proveedor.cedula" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nombres</label>
        <input type="text" class="form-control" name="nombres" required [(ngModel)]="proveedor.nombres" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" name="apellidos" required [(ngModel)]="proveedor.apellidos" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" name="direccion" required [(ngModel)]="proveedor.direccion" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Ciudad</label>
        <select class="form-control" name="ciudad" required [(ngModel)]="proveedor.ciudad">
          <option value="">Seleccione</option>
          <option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{
            ciudad.nombre
            }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Celular</label>
        <input (input)="onlyNumbers($event)" type="number" class="form-control" name="celular" required
          [(ngModel)]="proveedor.celular" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" required [(ngModel)]="proveedor.email" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Sitio Web</label>
      <input type="url" class="form-control" name="sitio_web" [(ngModel)]="proveedor.sitio_web" />
    </div>
    <div class="col-md-6">
      <label>Área de Servicio</label>
      <select name="grupo" class="form-control" [(ngModel)]="grupo" (change)="getEspecialidades()">
        <option value="">Seleccione</option>
        <option *ngFor="let grupo of grupos" [value]="grupo.codigo">{{
          grupo.detalle
          }}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <fieldset>
        <legend>Servicios</legend>
        <div class="row">
          <div *ngFor="let servicio of servicios" class="col-md-3">
            <input type="checkbox" [checked]="servicio.checked" [value]="servicio.codigo" />
            <label class="label-servicio">{{ servicio.nombre }}</label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="form-group">
        <label>Descripción</label>
        <textarea rows="3" class="form-control" required name="descripcion"
          [(ngModel)]="proveedor.descripcion"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nombre Referencia Personal</label>
        <input type="tel" class="form-control" required name="nombre_referencia_personal"
          [(ngModel)]="proveedor.nombre_referencia_personal" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Telefono Referencia Personal</label>
        <input type="tel" (input)="onlyNumbers($event)" class="form-control" required
          name="telefono_referencia_personal" [(ngModel)]="proveedor.telefono_referencia_personal" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nombre Referencia Familiar</label>
        <input type="tel" class="form-control" required name="nombre_referencia_familiar"
          [(ngModel)]="proveedor.nombre_referencia_familiar" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Telefono Referencia Familiar</label>
        <input type="tel" (input)="onlyNumbers($event)" class="form-control" required
          name="telefono_referencia_familiar" [(ngModel)]="proveedor.telefono_referencia_familiar" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Habilitado</label>
        <select class="form-control" name="habilitado" [(ngModel)]="proveedor.habilitado">
          <option value="1">Si</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
  </div>
  <button class="btn btn-block" [disabled]="form.invalid">Guardar</button>
</form>