<div>
    <div class="d-flex justify-content-center">
        <h4 class="font-weight-bold">{{titulo}}</h4>
    </div>
    <canvas
      baseChart
      [datasets]="dataChart"
      [labels]="labelsChart"
      [options]="pieChartOptions"
      [legend]="true"
      chartType="pie"
      [plugins]="pieChartOptions.plugins"
    >
    </canvas>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success my-4" (click)="exportarExcel()">Exportar Excel</button>
    </div>
</div>
